{% extends "base.html.twig" %}
{# intégration dans base.html.twig #}
{% block h1 %}Héritage{% endblock %}

{% block body %}
    <h2>page test/heritage</h2>
    <p>Le contenu du <code>block body</code> du fichier heritage remplace le contenu du <code>block body</code> du fichier base.</p>
{% endblock %}

{% block title %}Héritage{% endblock %}

{# Exo changer le contenu de la balise h1 pour cette page : Héritage
    Mais le texte "Bienvenue à la bibliothèque doit toujours apparaître pour la route /test/accueil  #}